*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    
    font-family: Poppins;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(18, 237, 120);
}
.nav{
    z-index: 3;
    height: 100vh;
    background-color: #333;
}
.content{
    position: relative;
    background-color: #f2f2f2;
    height: 100vh;
}
.content__nav--tablet{
    
    transform: translateX(-100%);
    transition: all linear 0.25s;
    z-index: 3;
    background-color: #333;
    min-height: 100%;
    min-width: 25%;
    position: absolute;
}
.btn__nav{
    transform: translateY(0);

    position: relative;
    position: fixed;
    z-index: 3;
    margin: 10px 0px 0 20px;
    left: 0;
    padding: 5px 20px;
    border: 1px 1px 1px  solid #666;
    border-radius: 15px;
    background-color: rgb(222, 251, 251);
}
.btn__nav--icon{
    transition: all linear 0.25s;
}
.btn__nav:hover{
   
    cursor: pointer;
}
.btn__nav:hover .btn__nav--icon{
    transform: scale(1.5);
}
.show{
    display: block;
    transform: translateX(0px);
}

@media (min-width: 1113px) {
    .btn__nav{
        transform: translateY(-150%);
        transition: all linear 0.25s;
    }
    .content__nav--tablet{
    display: none;
    }
}

.search{
    position: relative;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    
    padding: 0px 0px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #666;
    
}

.search__input{
    background-color: #f2f2f2;
    padding: 12px 30px;
    border-radius: 50%;
    border: none;
}
input:focus{
    outline: none;
    border: none;
    
}
.search__btn{
    position: absolute;
    transform: translateX(140px);
    margin-left: 40px;
    padding: 10px 14px;
    background-color:  rgb(147, 224, 224);
    border-radius: 50%;
    border: 6px solid rgb(237, 239, 238);
    
}
.search__btn--icon{
    transition: all linear 0.25s;
    
}
.search__btn--icon:hover{
    cursor: pointer;
    transform: scale(1.3);
}



.profile--img{
    margin: 0 ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    margin: 0 12px 0 0;
    box-shadow: 1px 1px 3px #111;
}
.nav__profile--list a{
    
    text-decoration: none;
    margin: 10px 0 30px 20px;
    display: flex;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    color: antiquewhite;
}
.nav__profile--list{
    border-bottom: 1px solid #666;
}
.nav__profile{
    margin-bottom: 30px;
}
.nav__list a{
    text-decoration: none;
    color: antiquewhite ;
}
.nav__list{
    margin-left: 12px;
    padding: 12px 20px;
}
.nav__list--icon{
    margin: 0 12px 0 0;
}
.overflow{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
}
.showover{
    display: block;
}